@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

a {
  outline: none; }
  a:hover {
    cursor: pointer; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "FuturaLtLight";
  src: url("../../fonts/Futura_LT_Light.eot");
  src: url("../../fonts/Futura_LT_Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Futura_LT_Light.woff") format("woff"), url("../../fonts/Futura_LT_Light.ttf") format("truetype");
  font-weight: 300; }

body {
  position: relative;
  background: #fff;
  font-family: "FuturaLtLight";
  font-size: 16px;
  color: #4d4f50; }

.content {
  padding: 0 45px; }

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 65px;
  letter-spacing: 2px; }

p {
  line-height: 1.8; }

.text-center {
  text-align: center; }

.message-error {
  color: #f00; }

.message-success {
  color: #65d640; }

.mfp-close {
  right: -33px !important;
  top: -40px !important; }
  .mfp-close:active {
    right: -33px !important;
    top: -40px !important; }

/*----------Плавное появление magnific popup------------*/
.mfp-fade.mfp-bg {
  opacity: 0;
  background: #000;
  transition: all .3s; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: .9; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all .3s; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/*-------------end-----------------------*/
.clearfix {
  clear: both;
  display: block;
  float: none; }
  .clearfix:before {
    content: '';
    display: table;
    height: 1px;
    width: 100%; }
  .clearfix:after {
    content: '';
    display: table;
    height: 1px;
    width: 100%; }

.img-responsive {
  max-width: 100%;
  width: 100%; }

.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }
  .sprite.sprite-email {
    background-position: -5px -5px;
    width: 21px;
    height: 15px; }
  .sprite.sprite-email-icon {
    background-position: -36px -5px;
    width: 64px;
    height: 64px; }
  .sprite.sprite-envelope {
    background-position: -110px -5px;
    width: 64px;
    height: 64px; }
  .sprite.sprite-facebook {
    background-position: -5px -79px;
    width: 64px;
    height: 64px; }
  .sprite.sprite-instagram {
    background-position: -79px -79px;
    width: 64px;
    height: 64px; }
  .sprite.sprite-linkedin {
    background-position: -242px -5px;
    width: 64px;
    height: 64px; }
  .sprite.sprite-map {
    background-position: -153px -79px;
    width: 13px;
    height: 18px; }
  .sprite.sprite-phone {
    background-position: -211px -137px;
    width: 24px;
    height: 16px; }
  .sprite.sprite-pinterest {
    background-position: -245px -137px;
    width: 64px;
    height: 64px; }
  .sprite.sprite-twitter {
    background-position: -63px -211px;
    width: 64px;
    height: 64px; }

.header__menu-pages {
  padding-left: 259px;
  margin: 0; }

.header__menu-pages-home .menu-item a {
  padding: 30px 0; }

.header__mobile-menu {
  display: none; }

.menu-item {
  float: left;
  list-style: none;
  margin-right: 31px;
  letter-spacing: 1.9; }
  .menu-item:hover > .sub-menu {
    display: block; }
  .menu-item a {
    text-transform: uppercase;
    font-size: 14px;
    color: #878484;
    padding: 49px 0 20px;
    display: inline-block;
    text-decoration: none; }

.sub-menu {
  display: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  position: absolute;
  background: #fff;
  z-index: 1; }
  .sub-menu:after {
    content: '';
    display: table;
    height: 1px;
    width: 100%; }
  .sub-menu .sub-menu {
    left: 100%;
    top: 0; }
  .sub-menu li {
    float: none;
    margin: 0 0 5px;
    width: 100%;
    position: relative; }
  .sub-menu a {
    display: block;
    padding: 7px 30px !important;
    line-height: 1.2; }

.button-link {
  height: 174px;
  width: 174px;
  height: 174px;
  width: 174px;
  background-size: 100% !important;
  display: inline-block; }

.header__link {
  background: url("../images/book-img.png") no-repeat;
  background-size: 100%;
  top: 22px;
  position: absolute;
  left: 44px; }

.header__link-home {
  top: 8px;
  left: 33px; }

.main-banner {
  margin-bottom: 93px; }

.main-banner-home {
  margin-bottom: 130px; }

.main-banner__image {
  height: auto; }

.content__title {
  margin-top: 0;
  margin-bottom: 65px;
  letter-spacing: 1px; }

.content__title-big {
  font-size: 48px;
  margin-bottom: 107px; }

.content__title-super-big {
  font-size: 60px;
  margin: -12px 0 80px; }

.content__home-container {
  max-width: 985px;
  margin: 0 auto 57px; }

.content__article {
  margin-bottom: 80px;
  padding: 0 40px; }
  .content__article p {
    line-height: 1.6;
    font-size: 22px;
    line-height: 1.6; }

.content__article-img {
  max-width: 100%; }

.has-spaced-border {
  padding: 45px;
  display: block;
  margin: 0 auto;
  border: 1px solid #000; }

.content__image-block {
  margin-bottom: 85px; }

.author-description__image {
  padding-top: 5px;
  margin-bottom: 70px; }

.content__author-data {
  font-size: 26px;
  text-align: center;
  line-height: 1.4; }

.content__author-contacts {
  padding-top: 35px; }

.content__page-container {
  max-width: 1530px;
  margin: 0 auto 133px; }

.reviews {
  padding-top: 10px; }

.reviews__review-title {
  font-size: 35px;
  line-height: 1;
  letter-spacing: 2px; }

.reviews__review-item {
  margin-bottom: 72px; }
  .reviews__review-item p {
    display: inline;
    line-height: 1.5;
    font-size: 22px; }

.reviews__review-author-info {
  font-size: 35px;
  text-align: center;
  margin-top: 30px; }

.author-data {
  display: inline-block; }

.reviews__author-name {
  margin-right: 45px; }

.leave-review__link {
  height: 260px;
  width: 260px;
  display: inline-block;
  background: url(../images/review-icon.png) no-repeat; }

.leave-review {
  margin-bottom: 41px; }

.review-sites__title {
  text-align: center;
  margin-bottom: 23px; }

.review-sites__title_text {
  display: inline-block;
  font-size: 30px;
  color: #282828;
  letter-spacing: 1.5px; }
  .review-sites__title_text:before {
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: inline-block;
    content: '';
    margin-bottom: 32px; }
  .review-sites__title_text:after {
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: inline-block;
    content: '';
    margin-top: 31px; }

.review-sites__block {
  text-align: center;
  margin: 0 -50px; }

.review-sites {
  margin-bottom: -23px; }

.review-sites__link {
  vertical-align: unset;
  display: inline-block;
  margin: 0 30px 20px;
  position: relative; }
  .review-sites__link:after {
    content: '';
    height: 68px;
    width: 1px;
    background: #979898;
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%); }
  .review-sites__link:last-child:after {
    display: none; }

.content__more {
  margin-bottom: 30px; }

.content__more-link {
  font-size: 20px;
  color: #979898; }
  .content__more-link:hover {
    color: #000; }
  .content__more-link:active {
    color: #000; }

.reviews__review-item {
  width: 43.79%;
  float: left;
  text-align: center; }
  .reviews__review-item:nth-child(2n) {
    float: right; }
  .reviews__review-item:before {
    content: '';
    margin-bottom: 39px;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block;
    display: block; }
  .reviews__review-item:after {
    content: '';
    margin-top: 28px;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block;
    display: block; }

.description-popup .mfp-content {
  max-width: 700px;
  background: #fff;
  padding: 20px;
  width: 90%; }

.description-popup .mfp-close {
  color: #fff !important; }
  .description-popup .mfp-close:active {
    color: #fff !important; }

.content__page-wrapper {
  margin-bottom: 127px; }

.content__page-wrapper-medium-margin {
  margin-bottom: 110px; }

.wpcf7 {
  text-align: center;
  position: relative; }

form {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 105px;
  width: 545px; }
  form:after {
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block;
    content: '';
    position: absolute;
    display: block;
    bottom: 0; }
  form#acf-form:after {
    bottom: 10px; }
  form .floating {
    margin-bottom: 0; }
  form label {
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
    width: 271px;
    display: inline-block;
    position: absolute;
    transform: translateX(-100%);
    left: 0;
    top: 0; }
  form select {
    height: 37px; }
  form input {
    height: 37px;
    border: none;
    background: #f4f5f4;
    width: 100%; }
    form input:focus {
      outline: none;
      box-shadow: none; }
    form input[type="submit"] {
      background: url(../images/submit-icon.png) no-repeat;
      height: 125px;
      width: 125px;
      border: none;
      font-size: 1px;
      color: transparent;
      position: absolute;
      bottom: 189px;
      right: -85px;
      transform: translateX(100%); }
  form textarea {
    height: 228px;
    border: none;
    background: #f4f5f4;
    width: 100%;
    resize: none; }
    form textarea:focus {
      outline: none;
      box-shadow: none; }
  form > div {
    margin-bottom: 41px;
    position: relative; }
  form p {
    margin: 0; }

.acf-fields input[type="submit"] {
  bottom: 97px;
  right: -79px; }

.acf-field {
  border-top: none !important;
  padding: 0 !important;
  margin-bottom: 43px !important; }
  .acf-field:before {
    display: none !important; }
  .acf-field .acf-label {
    width: auto !important;
    padding: 0 !important; }
  .acf-field .acf-input {
    width: 100% !important;
    padding: 0 !important; }
    .acf-field .acf-input input {
      height: 37px !important; }
    .acf-field .acf-input textarea {
      resize: none !important; }

.content__review-link {
  height: 180px;
  width: 180px;
  background-size: 100% !important;
  display: inline-block;
  background: url(../images/review-icon.png) no-repeat;
  position: absolute;
  top: 185px;
  margin-left: 324px;
  visibility: hidden; }

.content__appointment-link {
  height: 185px;
  width: 185px;
  background-size: 100% !important;
  display: inline-block;
  background: url(../images/book-img.png) no-repeat;
  position: absolute;
  top: -17px;
  margin-left: 128px;
  visibility: hidden; }

#message {
  font-size: 20px;
  color: #4ace14;
  margin-bottom: 30px; }

.form-popup .mfp-content {
  background: #fff;
  max-width: 800px; }
  .form-popup .mfp-content .wpcf7 {
    text-align: left;
    padding: 20px 7%; }
  .form-popup .mfp-content form {
    width: 500px; }
    .form-popup .mfp-content form > div {
      margin-bottom: 15px; }
    .form-popup .mfp-content form label {
      display: block;
      position: initial;
      width: 100%;
      transform: none; }

.content__navigation {
  padding: 25px 0 67px;
  position: relative;
  margin-bottom: 45px; }
  .content__navigation:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block;
    position: absolute;
    bottom: 0; }

.content__navigation-list {
  text-align: center; }

.content__navigation-list-item {
  display: inline-block;
  list-style: none; }
  .content__navigation-list-item:last-child a:after {
    display: none; }

.content__navigation-link {
  display: inline-block;
  position: relative;
  padding: 0 33px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  color: #282828; }
  .content__navigation-link:after {
    content: '';
    height: 100%;
    width: 1px;
    background: #292929;
    display: block;
    position: absolute;
    top: 0;
    right: 0; }

.content__gallery-wrapper {
  margin: 0 -8px 179px;
  position: relative;
  padding-bottom: 21px; }
  .content__gallery-wrapper:after {
    display: table !important;
    content: '';
    position: relative;
    bottom: -25px;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block; }

.content__gallery-block {
  padding: 0 8px;
  margin-bottom: 20px;
  display: inline-block; }
  .content__gallery-block:nth-child(5n+1) {
    clear: both; }

.content__gallery-block-image {
  max-width: 100%;
  height: auto; }

.image-popup img {
  border: 8px solid #fff;
  padding: 0;
  width: 100%;
  height: auto; }

.content__description-block {
  width: 63.72%;
  margin: 0 auto 173px; }
  .content__description-block h1 {
    letter-spacing: 1.5px;
    margin-bottom: 59px; }
  .content__description-block p {
    font-size: 22px;
    line-height: 1.7;
    margin: 0 auto 25px;
    max-width: 81%; }

.has-lines:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 11.24%;
  height: 1px;
  width: 72.52%;
  background: #d4d8d8;
  display: block; }

.has-lines:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 11.24%;
  height: 1px;
  width: 72.52%;
  background: #d4d8d8;
  display: block; }

.service-navigation {
  padding: 70px 0;
  margin-bottom: 160px; }

.content__service-block {
  display: inline-block;
  width: 27.14%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 192px;
  padding: 0 3.8%; }
  .content__service-block:nth-child(3n+1) {
    clear: both; }

.content__service-title {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.content__service-price {
  margin-bottom: 30px; }

.content__additional-service-block {
  width: 25%;
  font-size: 24px; }

.content__additional-services {
  width: 61.72%;
  margin: 0 auto; }

.content__additional-services-wrapper {
  width: 77.78%;
  margin: 0 auto; }

.content__additional-service-block {
  width: 25%;
  float: left; }
  .content__additional-service-block:nth-child(4n+1) {
    clear: both; }

.service-additional__title {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 90px; }

.service-examples__title {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 110px; }

.content__additional-services,
.content__service-examples {
  width: 61.72%;
  margin: 0 auto;
  padding: 60px 0 70px;
  position: relative; }
  .content__additional-services:before,
  .content__service-examples:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block; }

.service-examples__list-item {
  margin-bottom: 25px;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 48%; }
  .service-examples__list-item:nth-child(odd) {
    float: left; }
  .service-examples__list-item:nth-child(even) {
    text-align: right;
    float: right; }

.content__left-block {
  width: 76.042%;
  float: left;
  padding: 0 8.854% 0 7.292%;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-bottom: 50px;
  margin-top: -15px; }

.content__sidebar {
  width: 23.958%;
  float: left;
  padding: 90px 20px 0 6.771%; }
  .content__sidebar section {
    margin-bottom: 57px; }
  .content__sidebar ul {
    padding: 0 20px 0 37px; }
  .content__sidebar li {
    list-style-type: disc;
    margin-bottom: 20px; }
  .content__sidebar a {
    font-size: 18px;
    color: #4d4f50;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none; }

.widget-title {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding: 18px 20px 17px;
  margin-bottom: 42px; }
  .widget-title:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block; }
  .widget-title:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #d4d8d8;
    display: block; }

.blog__post {
  margin-bottom: 90px; }

.blog__post_title {
  font-size: 40px;
  line-height: 1.2;
  text-transform: capitalize;
  padding-bottom: 45px;
  margin-bottom: 50px;
  position: relative; }
  .blog__post_title:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 1%;
    height: 1px;
    width: 99%;
    background: #d4d8d8;
    display: block; }

.blog__post_content {
  font-size: 22px;
  text-align: center; }
  .blog__post_content p {
    margin-bottom: 35px; }

.footer {
  display: flex;
  background: #282828;
  text-align: center;
  color: #fff;
  line-height: 1.7;
  padding: 30px 0; }

.footer__block {
  width: 30.4%;
  padding: 27px 15px;
  position: relative; }
  .footer__block:after {
    content: '';
    width: 1px;
    background: #fff;
    display: block;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0; }

.footer__block-bigger {
  width: 37.3%; }

.footer__block-last {
  width: 32.4%; }
  .footer__block-last:after {
    display: none; }

.footer__title {
  font-size: 24px;
  margin-bottom: 40px; }

.footer__subscribe-input {
  width: 377px;
  height: 44px;
  border: none;
  outline: none;
  padding: 5px 15px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 23px; }

.footer__social-info {
  text-align: center;
  margin-top: -14px; }

.footer__social-link {
  width: 64px;
  height: 64px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  margin: 0 13px 0 0; }
  .footer__social-link:last-child {
    margin: 0; }
  .footer__social-link:hover {
    opacity: 0.8;
    cursor: pointer; }

.footer__description {
  margin: 0 auto 55px;
  max-width: 50%; }

.footer__contact-data {
  display: inline-block;
  margin: 0 24px; }
  .footer__contact-data i {
    margin-right: 10px; }

@media (min-width: 1200px) and (max-width: 1560px) {
  .review-sites__block {
    margin: 0; }
  .content__gallery-block {
    float: left;
    width: 20%; }
    .content__gallery-block:nth-child(5n+1) {
      clear: both; }
  .content__appointment-link {
    height: 140px;
    width: 140px;
    background-size: 100% !important;
    display: inline-block;
    margin-left: 6%; }
  .content__review-link {
    height: 140px;
    width: 140px;
    background-size: 100% !important;
    display: inline-block;
    margin-left: 16%; }
  .content__page-container {
    max-width: 1170px; }
  .content__service-block {
    width: 31.14%; }
  .footer__description {
    max-width: 72%; }
  .footer__subscribe-input {
    width: 82%;
    margin: 0 auto; }
  .footer__social-info {
    margin-top: 0; }
  .footer__social-link {
    width: 48px;
    height: 48px; }
    .footer__social-link i {
      width: 100% !important;
      height: 100% !important; }
      .footer__social-link i.sprite-envelope {
        background-position: -184px -5px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-facebook {
        background-position: -184px -63px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-instagram {
        background-position: -153px -121px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-linkedin {
        background-position: -242px -79px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-pinterest {
        background-position: -5px -211px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-twitter {
        background-position: -137px -211px;
        width: 48px;
        height: 48px; } }

@media (min-width: 767px) {
  .content__left-block {
    max-height: 2070px; }
  .main-banner {
    background: none !important; } }

@media (max-width: 1199px) {
  .button-link {
    height: 130px;
    width: 130px; }
  .header__menu-pages {
    padding-left: 216px; }
  .content__home-container {
    max-width: 760px; }
  .content__article-img {
    max-width: 80%; }
  .footer__subscribe-input {
    width: 82%; }
  .footer__social-link {
    width: 40px;
    height: 40px; }
  .footer__social-link {
    width: 48px;
    height: 48px; }
    .footer__social-link i {
      width: 100% !important;
      height: 100% !important; }
      .footer__social-link i.sprite-envelope {
        background-position: -184px -5px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-facebook {
        background-position: -184px -63px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-instagram {
        background-position: -153px -121px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-linkedin {
        background-position: -242px -79px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-pinterest {
        background-position: -5px -211px;
        width: 48px;
        height: 48px; }
      .footer__social-link i.sprite-twitter {
        background-position: -137px -211px;
        width: 48px;
        height: 48px; }
  .content__author-photo {
    max-width: 54%; } }

@media (max-width: 992px) {
  .header__link {
    top: 32px; }
  .button-link {
    height: 112px;
    width: 112px; }
  .header__menu-pages {
    padding-left: 190px; }
  .menu-item {
    margin-right: 25px;
    position: relative; }
  .sub-menu {
    right: 0; }
  .main-banner {
    margin-bottom: 75px; }
  .content__title {
    margin-bottom: 50px; }
  h1 {
    font-size: 36px; }
  .content__article {
    margin-bottom: 60px; }
  .content__article-img {
    max-width: 70%; }
  .content__image-block {
    margin-bottom: 70px; }
  .content__article {
    margin-bottom: 50px; }
  .content__author-photo {
    max-width: 49%; }
  .author-description__image {
    margin-bottom: 50px; }
  .content__author-data {
    font-size: 22px; }
  .content__author-contacts {
    padding-top: 20px; }
  .content__navigation-link {
    font-size: 20px; }
  .service-navigation {
    margin-bottom: 100px; }
  .content__service-block {
    width: 33.14%;
    font-size: 21px;
    margin-bottom: 95px;
    padding: 0 2.8%; }
  .content__additional-services, .content__service-examples {
    width: 92.72%; }
  .footer__subscribe-input {
    width: 100%;
    margin-left: 0; }
  .footer__title {
    font-size: 21px;
    margin-bottom: 20px; }
  .footer__description {
    margin-bottom: 23px;
    max-width: 100%; }
  .footer__contact-data {
    margin: 0; }
  .footer__social-info {
    margin-top: 0; }
  .footer__social-link {
    margin: 0 6px 10px !important; }
  .blog__post_title {
    font-size: 36px; }
  .leave-review__link {
    width: 160px;
    height: 160px;
    background-size: 100%; }
  .wpcf7 {
    text-align: left; }
  form {
    width: 70%; }
    form label {
      width: 100%;
      font-size: 19px;
      line-height: 1.2;
      margin-bottom: 5px; }
    form > div {
      margin-bottom: 15px; }
    form input {
      width: 100%; }
    form textarea {
      width: 100%; }
  .acf-field {
    margin-bottom: 15px !important; }
    .acf-field .acf-label {
      display: block !important;
      float: none !important; }
    .acf-field .acf-input {
      width: 100% !important; } }

@media (max-width: 767px) {
  .main-banner__image {
    display: none; }
  .main-banner {
    margin-bottom: 40px;
    min-height: 160px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover; }
  .main-banner-home {
    min-height: 300px;
    background-position: center; }
  .sub-menu {
    position: initial;
    box-shadow: none;
    padding-left: 20px; }
  .content {
    padding: 0 15px; }
  .content__title {
    margin-bottom: 30px; }
  .content__article-img {
    max-width: 80%; }
  .has-spaced-border {
    padding: 20px; }
  .content__image-block {
    margin-bottom: 40px; }
  .content__article {
    margin-bottom: 30px; }
  .content__author-photo {
    max-width: 63%; }
  .author-description__image {
    margin-bottom: 40px; }
  .content__author-data {
    font-size: 19px; }
  .content__additional-services, .content__service-examples {
    padding: 50px 0 23px; }
  .service-examples__list-item {
    float: none !important;
    width: 100%;
    text-align: center !important; }
  .footer {
    display: block; }
  .footer__block {
    width: 100%;
    float: none;
    margin-bottom: 25px; }
  .footer__contact-data {
    display: block;
    margin-bottom: 5px; }
  .header__link {
    left: 15px; }
  .header__mobile-menu {
    display: block;
    float: right;
    padding: 20px 15px 0 0; }
    .header__mobile-menu:hover {
      cursor: pointer; }
  .button-link {
    height: 90px;
    width: 90px; }
  .header__link {
    top: 10px; }
  .header__menu-pages {
    padding: 0 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    top: 60px;
    display: none;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 1; }
  .menu-item {
    margin-right: 0;
    float: none;
    width: 100%; }
    .menu-item a {
      padding: 10px 0; }
  .content__navigation-list-item {
    margin-bottom: 15px; }
  .content__navigation-link {
    font-size: 16px;
    padding: 4px 15px;
    padding: 15px 0 30px; }
  .content__gallery-block {
    width: 100%;
    float: none;
    text-align: center; }
  .content__gallery-wrapper {
    margin: 0 -8px 49px; }
  .content__description-block {
    width: 100%; }
  h1 {
    margin-bottom: 40px; }
  .content__description-block {
    margin-bottom: 45px; }
  form {
    width: 100%; }
  .content__left-block {
    width: 100%;
    padding: 0;
    overflow-y: visible; }
  .blog__post_title {
    padding-bottom: 30px;
    margin-bottom: 30px; }
  .content__sidebar {
    width: 100%;
    padding: 20px 0 0; }
  .widget-title {
    font-size: 20px;
    margin-bottom: 30px; }
  .content__sidebar li {
    margin-bottom: 10px; }
  .content__sidebar a {
    font-size: 15px; }
  .blog__post {
    margin-bottom: 30px; }
  .service-navigation {
    padding: 25px 0 10px; }
  .content__navigation-link {
    padding: 8px 15px 6px; }
  .service-navigation {
    margin-bottom: 40px; }
  .has-lines:before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    display: block; }
  .has-lines:after {
    content: '';
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    display: block; }
  .content__service-block {
    width: 100%;
    float: none;
    font-size: 20px;
    margin-bottom: 40px; }
  .content__service-title {
    font-size: 20px; }
  .service-additional__title {
    margin-bottom: 25px;
    font-size: 20px; }
  .service-examples__title {
    margin-bottom: 25px;
    font-size: 20px; }
  .content__additional-services-wrapper {
    width: 100%; }
  .content__additional-service-block {
    width: 50%;
    font-size: 20px; }
    .content__additional-service-block:nth-child(2n+1) {
      clear: both; }
  .service-examples__list-item {
    font-size: 20px;
    margin-bottom: 14px; }
  .content__service-examples {
    margin-bottom: 30px; }
  .reviews__review-item {
    width: 100%;
    float: none; }
  .reviews__review-title {
    font-size: 27px; }
  .author-data {
    display: block;
    margin: 0 0 10px 0; }
  .reviews__review-author-info {
    font-size: 27px; }
  .review-sites__link:after {
    display: none; }
  .review-sites__logo {
    max-width: 100%; }
  .content__page-container {
    margin: 0 auto 40px; } }
