.content__left-block
    width: 76.042%
    float: left
    padding: 0 8.854% 0 7.292%
    box-sizing: border-box
    overflow-y: scroll
    padding-bottom: 50px
    margin-top: -15px

.content__sidebar
    width: 23.958%
    float: left
    padding: 90px 20px 0 6.771%

    section
        margin-bottom: 57px
    ul
        padding: 0 20px 0 37px
    li
        list-style-type: disc
        margin-bottom: 20px
    a
        @include fontStyle($size: 18px, $textTransform: uppercase, $lh: 1.3, $color: #4d4f50)
        text-decoration: none

.widget-title
    @include fontStyle($size: 24px, $letterSpacing: 2px, $textTransform: uppercase)
    position: relative
    padding: 18px 20px 17px
    margin-bottom: 42px
    &:before
        @include pseudo($position: absolute, $top: 0, $left: 0)
        @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)
    &:after
        @include pseudo($position: absolute, $bottom: 0, $left: 0)
        @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)

.blog__post
    margin-bottom: 90px
.blog__post_title
    @include fontStyle($size: 40px, $textTransform: capitalize, $lh: 1.2)
    padding-bottom: 45px
    margin-bottom: 50px
    position: relative
    &:after
        @include pseudo($position: absolute, $bottom: 0, $left: 1%)
        @include blockLine($height: 1px, $width: 99%, $color: #d4d8d8)

.blog__post_content
    @include fontStyle($size: 22px)
    text-align: center
    p
        margin-bottom: 35px