@include fontFace('FuturaLtLight', 'Futura_LT_Light', 300)

body
  position: relative
  background: #fff
  @include fontStyle($fontfamily: 'FuturaLtLight', $color: #4d4f50, $size: 16px)
.content
  padding: 0 45px
h1
  @include fontStyle($size: 40px, $lh: 1.2)
  margin-bottom: 65px
  letter-spacing: 2px

p
  line-height: 1.8

.text-center
  text-align: center

.message-error
  @include fontStyle($color: #f00)

.message-success
  @include fontStyle($color: #65d640)
.mfp-close
  right: -33px !important
  top: -40px !important
  &:active
    right: -33px !important
    top: -40px !important

/*----------Плавное появление magnific popup------------*/
.mfp-fade
  &.mfp-bg
    opacity: 0
    background: #000
    transition: all .3s

.mfp-fade
  &.mfp-bg
    &.mfp-ready
      opacity: .9

.mfp-fade
  &.mfp-bg
    &.mfp-removing
      opacity: 0

.mfp-fade
  &.mfp-wrap
    .mfp-content
      opacity: 0
      transition: all .3s

.mfp-fade
  &.mfp-wrap
    &.mfp-ready
      .mfp-content
        opacity: 1

.mfp-fade
  &.mfp-wrap
    &.mfp-removing
      .mfp-content
        opacity: 0

/*-------------end-----------------------*/
  
.clearfix
  clear: both
  display: block
  float: none
  &:before
    content: ''
    display: table
    height: 1px
    width: 100%
  &:after
    content: ''
    display: table
    height: 1px
    width: 100%

.img-responsive
  max-width: 100%
  width: 100%
.sprite
  background-image: url(../images/spritesheet.png)
  background-repeat: no-repeat
  display: inline-block

  &.sprite-email  
    @include stitches-sprite(-5px, -5px, 21px, 15px)

  &.sprite-email-icon
    @include stitches-sprite(-36px, -5px, 64px, 64px)

  &.sprite-envelope
    @include stitches-sprite(-110px, -5px, 64px, 64px)

  &.sprite-facebook
    @include stitches-sprite(-5px, -79px, 64px, 64px)

  &.sprite-instagram
    @include stitches-sprite(-79px, -79px, 64px, 64px)

  &.sprite-linkedin
    @include stitches-sprite(-242px, -5px, 64px, 64px)

  &.sprite-map
    @include stitches-sprite(-153px, -79px, 13px, 18px)

  &.sprite-phone
    @include stitches-sprite(-211px, -137px, 24px, 16px)
    
  &.sprite-pinterest
    @include stitches-sprite(-245px, -137px, 64px, 64px)

  &.sprite-twitter
    @include stitches-sprite(-63px, -211px, 64px, 64px)