.content__page-wrapper
  margin-bottom: 127px
.content__page-wrapper-medium-margin
  margin-bottom: 110px
.wpcf7
  text-align: center
  position: relative
form
  position: relative
  display: inline-block
  margin: 0 auto
  padding-bottom: 105px
  width: 545px
  &:after
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)
    @include pseudo($position: absolute, $bottom: 0)
  &#acf-form
    &:after
      bottom: 10px
  .floating
    margin-bottom: 0
  label
    @include fontStyle($size: 24px, $lh: 1.7)
    text-align: center
    width: 271px
    display: inline-block
    position: absolute
    transform: translateX(-100%)
    left: 0
    top: 0
  select
    height: 37px
  input
    height: 37px
    border: none
    background: #f4f5f4
    width: 100%
    &:focus
      outline: none
      box-shadow: none
    &[type="submit"]
      background: url(../images/submit-icon.png) no-repeat
      height: 125px
      width: 125px
      border: none
      font-size: 1px
      color: transparent
      position: absolute
      bottom: 189px
      right: -85px
      transform: translateX(100%)
  textarea
    height: 228px
    border: none
    background: #f4f5f4
    width: 100%
    resize: none
    &:focus
      outline: none
      box-shadow: none
  & > div
    margin-bottom: 41px
    position: relative
  p
    margin: 0
.acf-fields
  input
    &[type="submit"]
      bottom: 97px
      right: -79px
.acf-field
    border-top: none !important
    padding: 0 !important
    margin-bottom: 43px !important
    &:before
        display: none !important
    .acf-label
        width: auto !important
        padding: 0 !important
    .acf-input
        width: 100% !important
        padding: 0 !important
        input
            height: 37px !important
        textarea
            resize: none !important

.content__review-link
  @include buttonLink($width: 180px, $height: 180px)
  background: url(../images/review-icon.png) no-repeat
  position: absolute
  top: 185px
  margin-left: 324px
  visibility: hidden

.content__appointment-link
  @include buttonLink($width: 185px, $height: 185px)
  background: url(../images/book-img.png) no-repeat
  position: absolute
  top: -17px
  margin-left: 128px
  visibility: hidden

#message
    @include fontStyle($size: 20px, $color: #4ace14)
    margin-bottom: 30px

.form-popup
  .mfp-content
    background: #fff
    max-width: 800px
    .wpcf7
      text-align: left
      padding: 20px 7%
    form
      width: 500px
      & > div
        margin-bottom: 15px
      label
        display: block
        position: initial
        width: 100%
        transform: none