.footer
  display: flex
  background: #282828
  text-align: center
  @include fontStyle($color: #fff, $lh: 1.7)
  padding: 30px 0

.footer__block
  width: 30.4%
  padding: 27px 15px
  position: relative
  &:after
    content: ''
    width: 1px
    background: #fff
    display: block
    height: 100%
    right: 0
    position: absolute
    top: 0

.footer__block-bigger
  width: 37.3%

.footer__block-last
  width: 32.4%
  &:after
    display: none
  
.footer__title
  font-size: 24px
  margin-bottom: 40px

.footer__subscribe-input
  width: 377px
  height: 44px
  border: none
  outline: none
  padding: 5px 15px
  font-size: 16px
  box-sizing: border-box
  margin-left: 23px
.footer__social-info
    text-align: center
    margin-top: -14px

.footer__social-link
  width: 64px
  height: 64px
  display: inline-block
  @include borderRadius(50%)
  display: inline-block
  margin: 0 13px 0 0
  &:last-child
    margin: 0
  &:hover
    opacity: 0.8
    cursor: pointer

.footer__description
  margin: 0 auto 55px
  max-width: 50%

.footer__contact-data
  display: inline-block
  margin: 0 24px
  i
    margin-right: 10px

