.header__menu-pages
  padding-left: 259px
  margin: 0

.header__menu-pages-home
  .menu-item
    a
      padding: 30px 0
.header__mobile-menu
    display: none

.menu-item
  float: left
  list-style: none
  margin-right: 31px
  letter-spacing: 1.9
  &:hover
    & > .sub-menu
      display: block

  a
    text-transform: uppercase
    @include fontStyle($size: 14px, $color: #878484)
    padding: 49px 0 20px
    display: inline-block
    text-decoration: none
.sub-menu
  display: none
  @include boxShadow(0px 2px 3px rgba(0, 0, 0, 0.2))
  padding: 10px 0
  position: absolute
  background: #fff
  z-index: 1
  &:after
    content: ''
    display: table
    height: 1px
    width: 100%
  .sub-menu
    left: 100%
    top: 0
  li
    float: none
    margin: 0 0 5px
    width: 100%
    position: relative
  a
    display: block
    padding: 7px 30px !important
    @include fontStyle($lh: 1.2)

.button-link
  height: 174px
  width: 174px
  @include buttonLink($width: 174px, $height: 174px)

.header__link
  background: url('../images/book-img.png') no-repeat
  background-size: 100%
  top: 22px
  position: absolute
  left: 44px
.header__link-home
  top: 8px
  left: 33px
.main-banner
  margin-bottom: 93px

.main-banner-home
  margin-bottom: 130px

.main-banner__image
  height: auto