.content__title
  margin-top: 0
  margin-bottom: 65px
  letter-spacing: 1px
.content__title-big
  font-size: 48px
  margin-bottom: 107px
.content__title-super-big
  font-size: 60px
  margin: -12px 0 80px
.content__home-container
  max-width: 985px
  margin: 0 auto 57px

.content__article
  margin-bottom: 80px
  padding: 0 40px
  p
    line-height: 1.6
    @include fontStyle($lh: 1.6, $size: 22px)

.content__article-img
    max-width: 100%

.has-spaced-border
  padding: 45px
  display: block
  margin: 0 auto
  border: 1px solid #000

.content__image-block
  margin-bottom: 85px

.author-description__image
  padding-top: 5px
  margin-bottom: 70px

.content__author-data
  font-size: 26px
  text-align: center
  line-height: 1.4

.content__author-contacts
  padding-top: 35px