@mixin fontFace ($fontname, $fontfile, $fontweight)
  @font-face
    font-family: $fontname
    src: url('../../fonts/Futura_LT_Light.eot')
    src: url('../../fonts/Futura_LT_Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/Futura_LT_Light.woff') format('woff'), url('../../fonts/Futura_LT_Light.ttf') format('truetype')
    font-weight: $fontweight

@mixin fontStyle($fontfamily: false, $size: false, $color: false, $weight: false,  $lh: false, $letterSpacing: false, $textTransform: false)
  @if $fontfamily
    font-family: $fontfamily
  @if $size
    font-size: $size
  @if $color
    color: $color
  @if $weight
    font-weight: $weight
  @if $lh
    line-height: $lh
  @if $letterSpacing
      letter-spacing: $letterSpacing
  @if $textTransform
        text-transform: $textTransform

@mixin borderRadius($radius)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0)
  background-position: $x $y
  width: $width
  height: $height

@mixin blockLine($height: null, $width: null, $color: null, $display: block)
  @if $height
    height: $height
  @if $width
    width: $width
  @if $color
    background: $color
  display: $display

@mixin pseudo($position: null, $display: block, $top: null, $bottom: null, $left: null, $right: null)
    content: ''
    @if $position
        position: $position
    @if $display
        display: $display
    @if $top
        top: $top
    @if $bottom
        bottom: $bottom
    @if $left
        left: $left
    @if $right
        right: $right

@mixin boxShadow($box-shadow)
  box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  -webkit-box-shadow: $box-shadow

@mixin buttonLink($width: 120px, $height: 120px, $bg: null, $display: inline-block)
  height: $height
  width: $width
  @if $bg
    background: $bg
  background-size: 100% !important
  display: $display