.content__navigation
  padding: 25px 0 67px
  position: relative
  margin-bottom: 45px
  &:after
    content: ''
    display: block
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)
    position: absolute
    bottom: 0

.content__navigation-list
  text-align: center

.content__navigation-list-item
  display: inline-block
  list-style: none
  &:last-child
    a
        &:after
            display: none

.content__navigation-link
  display: inline-block
  position: relative
  padding: 0 33px
  letter-spacing: 2px
  text-transform: uppercase
  text-decoration: none
  @include fontStyle($color: #282828, $size: 24px)
  &:after
    content: ''
    @include blockLine($height: 100%, $width: 1px, $color: #292929)
    position: absolute
    top: 0
    right: 0

.content__gallery-wrapper
  margin: 0 -8px 179px
  position: relative
  padding-bottom: 21px
  &:after
    display: table !important
    content: ''
    position: relative
    bottom: -25px
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)


.content__gallery-block
  padding: 0 8px
  margin-bottom: 20px
  display: inline-block
  &:nth-child(5n+1)
    clear: both

.content__gallery-block-image
  max-width: 100%
  height: auto

.image-popup
  img
    border: 8px solid #fff
    padding: 0
    width: 100%
    height: auto

.content__description-block
  width: 63.72%
  margin: 0 auto 173px
  h1
    letter-spacing: 1.5px
    margin-bottom: 59px
  p
    @include fontStyle($size: 22px, $lh: 1.7)
    margin: 0 auto 25px
    max-width: 81%