@media ($lg)
  .review-sites__block
      margin: 0
  .content__gallery-block
    float: left
    width: 20%
    &:nth-child(5n+1)
        clear: both

  .content__appointment-link
      @include buttonLink($width: 140px, $height: 140px)
      margin-left: 6%
  .content__review-link
      @include buttonLink($width: 140px, $height: 140px)
      margin-left: 16%
  .content__page-container
    max-width: 1170px
  .content__service-block
      width: 31.14%
  .footer__description
    max-width: 72%
  .footer__subscribe-input
    width: 82%
    margin: 0 auto
  .footer__social-info
      margin-top: 0
  .footer__social-link
    width: 48px
    height: 48px
    i
      width: 100% !important
      height: 100% !important

      &.sprite-envelope
        @include stitches-sprite(-184px, -5px, 48px, 48px)
      &.sprite-facebook
        @include stitches-sprite(-184px, -63px, 48px, 48px)
      &.sprite-instagram
        @include stitches-sprite(-153px, -121px, 48px, 48px)
      &.sprite-linkedin
        @include stitches-sprite(-242px, -79px, 48px, 48px)
      &.sprite-pinterest
        @include stitches-sprite(-5px, -211px, 48px, 48px)
      &.sprite-twitter
        @include stitches-sprite(-137px, -211px, 48px, 48px)

@media (min-width: $sm-area)
    .content__left-block
        max-height: 2070px
    .main-banner
        background: none !important

@media (max-width: $lg-area)
    .button-link
        height: 130px
        width: 130px
    .header__menu-pages
        padding-left: 216px
    .content__home-container
        max-width: 760px
    .content__article-img
        max-width: 80%
    .footer__subscribe-input
        width: 82%
    .footer__social-link
        width: 40px
        height: 40px
    .footer__social-link
        width: 48px
        height: 48px
        i
          width: 100% !important
          height: 100% !important

          &.sprite-envelope
            @include stitches-sprite(-184px, -5px, 48px, 48px)
          &.sprite-facebook
            @include stitches-sprite(-184px, -63px, 48px, 48px)
          &.sprite-instagram
            @include stitches-sprite(-153px, -121px, 48px, 48px)
          &.sprite-linkedin
            @include stitches-sprite(-242px, -79px, 48px, 48px)
          &.sprite-pinterest
            @include stitches-sprite(-5px, -211px, 48px, 48px)
          &.sprite-twitter
            @include stitches-sprite(-137px, -211px, 48px, 48px)


    .content__author-photo
        max-width: 54%

@media (max-width: $md-area)
    .header__link
        top: 32px
    .button-link
        height: 112px
        width: 112px
    .header__menu-pages
        padding-left: 190px
    .menu-item
        margin-right: 25px
        position: relative
    .sub-menu
        right: 0
    .main-banner
        margin-bottom: 75px
    .content__title
        margin-bottom: 50px
    h1
        font-size: 36px
    .content__article
        margin-bottom: 60px
    .content__article-img
        max-width: 70%
    .content__image-block
        margin-bottom: 70px
    .content__article
        margin-bottom: 50px
    .content__author-photo
        max-width: 49%
    .author-description__image
        margin-bottom: 50px
    .content__author-data
        font-size: 22px
    .content__author-contacts
        padding-top: 20px
    .content__navigation-link
        font-size: 20px
    .service-navigation
        margin-bottom: 100px
    .content__service-block
        width: 33.14%
        font-size: 21px
        margin-bottom: 95px
        padding: 0 2.8%
    .content__additional-services, .content__service-examples
        width: 92.72%
    .footer__subscribe-input
        width: 100%
        margin-left: 0
    .footer__title
        font-size: 21px
        margin-bottom: 20px
    .footer__description
        margin-bottom: 23px
        max-width: 100%
    .footer__contact-data
        margin: 0
    .footer__social-info
        margin-top: 0
    .footer__social-link
        margin: 0 6px 10px !important

    .blog__post_title
        font-size: 36px

    .leave-review__link
        width: 160px
        height: 160px
        background-size: 100%
    .wpcf7
        text-align: left
    form
        width: 70%
        label
            width: 100%
            @include fontStyle($size: 19px, $lh: 1.2)
            margin-bottom: 5px
        & > div
            margin-bottom: 15px

        input
            width: 100%
        textarea
            width: 100%

    .acf-field
        margin-bottom: 15px !important
        .acf-label
            display: block !important
            float: none !important
        .acf-input
            width: 100% !important

@media ($xs)
    .main-banner__image
        display: none
    .main-banner
        margin-bottom: 40px
        min-height: 160px
        margin-top: 10px
        background-repeat: no-repeat
        background-position: right top
        background-size: cover
    .main-banner-home
        min-height: 300px
        background-position: center
    .sub-menu
        position: initial
        box-shadow: none
        padding-left: 20px
    .content
        padding: 0 15px
    .content__title
        margin-bottom: 30px
    .content__article-img
        max-width: 80%
    .has-spaced-border
        padding: 20px
    .content__image-block
        margin-bottom: 40px
    .content__article
        margin-bottom: 30px
    .content__author-photo
        max-width: 63%
    .author-description__image
        margin-bottom: 40px
    .content__author-data
        font-size: 19px
    .content__additional-services, .content__service-examples
        padding: 50px 0 23px
    .service-examples__list-item
        float: none !important
        width: 100%
        text-align: center !important
    .footer
        display: block
    .footer__block
        width: 100%
        float: none
        margin-bottom: 25px
    .footer__contact-data
        display: block
        margin-bottom: 5px

    .header__link
        left: 15px
    .header__mobile-menu
        display: block
        float: right
        padding: 20px 15px 0 0
        &:hover
            cursor: pointer
    .button-link
        height: 90px
        width: 90px
    .header__link
        top: 10px
    .header__menu-pages
        padding: 0 15px
        @include boxShadow(2px 2px 2px rgba(0,0,0,0.2))
        top: 60px
        display: none
        position: absolute
        background: #fff
        left: 0
        right: 0
        z-index: 1
    .menu-item
        margin-right: 0
        float: none
        width: 100%
        a
            padding: 10px 0
    .content__navigation-list-item
        margin-bottom: 15px
    .content__navigation-link
        @include fontStyle($size: 16px)
        padding: 4px 15px
        padding: 15px 0 30px
    .content__gallery-block
        width: 100%
        float: none
        text-align: center
    .content__gallery-wrapper
        margin: 0 -8px 49px
    .content__description-block
        width: 100%
    h1
        margin-bottom: 40px
    .content__description-block
        margin-bottom: 45px

    form
        width: 100%

    .content__left-block
        width: 100%
        padding: 0
        overflow-y: visible

    .blog__post_title
        padding-bottom: 30px
        margin-bottom: 30px

    .content__sidebar
        width: 100%
        padding: 20px 0 0

    .widget-title
        @include fontStyle($size: 20px)
        margin-bottom: 30px

    .content__sidebar
        li
            margin-bottom: 10px
        a
            @include fontStyle($size: 15px)

    .blog__post
        margin-bottom: 30px

    .service-navigation
        padding: 25px 0 10px
    .content__navigation-link
        padding: 8px 15px 6px

    .service-navigation
        margin-bottom: 40px

    .has-lines
        &:before
            @include pseudo($left: 0, $right: 0)
            @include blockLine($width: 100%)
        &:after
            @include pseudo($left: 0, $right: 0)
            @include blockLine($width: 100%)

    .content__service-block
        width: 100%
        float: none
        @include fontStyle($size: 20px)
        margin-bottom: 40px

    .content__service-title
        @include fontStyle($size: 20px)

    .service-additional__title
        margin-bottom: 25px
        @include fontStyle($size: 20px)

    .service-examples__title
        margin-bottom: 25px
        @include fontStyle($size: 20px)

    .content__additional-services-wrapper
        width: 100%

    .content__additional-service-block
        width: 50%
        @include fontStyle($size: 20px)
        &:nth-child(2n+1)
            clear: both


    .service-examples__list-item
        @include fontStyle($size: 20px)
        margin-bottom: 14px

    .content__service-examples
        margin-bottom: 30px

    .reviews__review-item
        width: 100%
        float: none

    .reviews__review-title
        @include fontStyle($size: 27px)
    .author-data
        display: block
        margin: 0 0 10px 0
    .reviews__review-author-info
        @include fontStyle($size: 27px)
    .review-sites__link
        &:after
            display: none
    .review-sites__logo
        max-width: 100%

    .content__page-container
        margin: 0 auto 40px
