.reviews
  padding-top: 10px
.reviews__review-title
  font-size: 35px
  line-height: 1
  letter-spacing: 2px

.reviews__review-item
  margin-bottom: 72px
  p
    display: inline
    line-height: 1.5
    font-size: 22px

.reviews__review-author-info
  font-size: 35px
  text-align: center
  margin-top: 30px

.author-data
  display: inline-block

.reviews__author-name
  margin-right: 45px

.leave-review__link
  height: 260px
  width: 260px
  display: inline-block
  background: url(../images/review-icon.png) no-repeat

.leave-review
  margin-bottom: 41px

.review-sites__title
  text-align: center
  margin-bottom: 23px

.review-sites__title_text
  display: inline-block
  @include fontStyle($color: #282828, $size: 30px)
  letter-spacing: 1.5px
  &:before
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8, $display: inline-block)
    content: ''
    margin-bottom: 32px
  &:after
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8, $display: inline-block)
    content: ''
    margin-top: 31px
.review-sites__block
  text-align: center
  margin: 0 -50px
.review-sites
  margin-bottom: -23px
.review-sites__link
  vertical-align: unset
  display: inline-block
  margin: 0 30px 20px
  position: relative
  &:after
    content: ''
    @include blockLine($height: 68px, $width: 1px, $color: #979898, $display: inline-block)
    position: absolute
    right: -30px
    top: 50%
    transform: translateY(-50%)
  &:last-child
    &:after
      display: none

.content__more
  margin-bottom: 30px
.content__more-link
  @include fontStyle($color: #979898, $size: 20px)
  &:hover
    color: #000
  &:active
    color: #000

.reviews__review-item
  width: 43.79%
  float: left
  text-align: center
  &:nth-child(2n)
    float: right
  &:before
    content: ''
    margin-bottom: 39px
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)
    display: block
  &:after
    content: ''
    margin-top: 28px
    @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)
    display: block

.description-popup
  .mfp-content
    max-width: 700px
    background: #fff
    padding: 20px
    width: 90%
  .mfp-close
    color: #fff !important
    &:active
      color: #fff !important