.has-lines
    &:before
        @include pseudo($position: absolute, $top: 0, $left: 11.24%)
        @include blockLine($height: 1px, $width: 72.52%, $color: #d4d8d8)
    &:after
        @include pseudo($position: absolute, $bottom: 0, $left: 11.24%)
        @include blockLine($height: 1px, $width: 72.52%, $color: #d4d8d8)

.service-navigation
    padding: 70px 0
    margin-bottom: 160px

.content__service-block
    display: inline-block
    width: 27.14%
    text-align: center
    font-size: 24px
    margin-bottom: 192px
    padding: 0 3.8%
    &:nth-child(3n+1)
        clear: both

.content__service-title
    @include fontStyle($size: 24px, $letterSpacing: 2px, $textTransform: uppercase)
    margin-bottom: 15px

.content__service-price
    margin-bottom: 30px

.content__additional-service-block
    width: 25%
    font-size: 24px
.content__additional-services
    width: 61.72%
    margin: 0 auto
.content__additional-services-wrapper
    width: 77.78%
    margin: 0 auto

.content__additional-service-block
    width: 25%
    float: left
    &:nth-child(4n+1)
        clear: both

.service-additional__title
    @include fontStyle($size: 24px, $letterSpacing: 2px, $textTransform: uppercase)
    margin-bottom: 90px

.service-examples__title
    @include fontStyle($size: 24px, $letterSpacing: 2px, $textTransform: uppercase)
    margin-bottom: 110px
.content__additional-services,
.content__service-examples
    width: 61.72%
    margin: 0 auto
    padding: 60px 0 70px
    position: relative
    &:before
        @include pseudo($position: absolute, $top: 0)
        @include blockLine($height: 1px, $width: 100%, $color: #d4d8d8)
.service-examples__list-item
    margin-bottom: 25px
    @include fontStyle($size: 24px, $letterSpacing: 2px, $textTransform: uppercase)
    width: 48%
    &:nth-child(odd)
        float: left
    &:nth-child(even)
        text-align: right
        float: right